//
// SURSTRÖMMING - Custom constants for preset stylings
//

$document-font-size: 16;    // replace with your base font size (for rem)


// use this in combination with the mixin in-development() to add styles you
// want to add only for testing and developing.
$in-development: true;      // set to false once in production



// Grid constants
$grid-width:    1440px;     // maximum width of containers and grids
$grid-columns:  12;         // number of columns for grids
$gutter:        true;      // true for a fancy gutter between items
$gutter-width:  10px;       // spacing between columns when gutter is on
$item-spacing:  true;       // grid approach - vertical spacing btw items


// demo variables
$grid-height:   100px;


// colors
$color-pastel-blue: #d1e5ff;
$color-light-blue:  #9ec8ff;
$color-blue:        #236bc7;
$color-lavender:    #c19eff;
$color-purple:      #5e23c7;

$colors: (
  blue: (
    light:  #d1e5ff,
    base:   #9ec8ff,
    dark:   #236bc7
  ),
  purple: (
    light:  #ded1ff,
    base:   #c19eff,
    dark:   #5e23c7
  )
);


@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

@import "surströmming";

@import "demo/typography";
@import "demo/grid";