html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.clearfix {
  clear: both; }
  .clearfix:after {
    clear: both;
    content: "";
    display: table; }

.grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .grid__row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    width: 100%; }
    .grid--has-gutter .grid__row {
      margin: 0 -4.1666666667%;
      width: calc(108.333333333%); }
  .grid__unit {
    box-sizing: border-box;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%; }
    @media only screen and (min-width: 414px) {
      .grid__unit {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit {
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit {
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit {
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: 66.6666666667%;
            flex-basis: 66.6666666667%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: 16.6666666667%;
            flex-basis: 16.6666666667%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: 66.6666666667%;
            flex-basis: 66.6666666667%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: 33.3333333333%;
            flex-basis: 33.3333333333%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: 83.3333333333%;
            flex-basis: 83.3333333333%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: 41.6666666667%;
            flex-basis: 41.6666666667%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: 41.6666666667%;
            flex-basis: 41.6666666667%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: 58.3333333333%;
            flex-basis: 58.3333333333%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: 58.3333333333%;
            flex-basis: 58.3333333333%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: 66.6666666667%;
            flex-basis: 66.6666666667%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: 66.6666666667%;
            flex-basis: 66.6666666667%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: 83.3333333333%;
            flex-basis: 83.3333333333%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: 83.3333333333%;
            flex-basis: 83.3333333333%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .grid--has-gutter .grid__unit {
      margin: 4.1666666667% 0; }
      @media only screen and (min-width: 414px) {
        .grid--has-gutter .grid__unit {
          margin-left: 4.1666666667%;
          margin-right: 4.1666666667%; } }
    .grid__row--halves .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      .grid--has-gutter .grid__row--halves .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 768px) {
        .grid__row--halves .grid__unit {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
          .grid--has-gutter .grid__row--halves .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
    .grid__row--thirds .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      .grid--has-gutter .grid__row--thirds .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: 33.3333333333%;
              flex-basis: 33.3333333333%; }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
    .grid__row--quarters .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      .grid--has-gutter .grid__row--quarters .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: 33.3333333333%;
              flex-basis: 33.3333333333%; }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%; }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
    .grid__row--fifths .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      .grid--has-gutter .grid__row--fifths .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: 33.3333333333%;
              flex-basis: 33.3333333333%; }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%; }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
      @media only screen and (min-width: 1920px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: 20%;
              flex-basis: 20%; }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 11.6666666667%;
                flex-basis: 11.6666666667%; } }
    .grid__unit--full-width {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      .grid--has-gutter .grid__unit--full-width {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-positive: 0;
            flex-grow: 0; } }
/*# sourceMappingURL=surströmming.css.map */