@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.clearfix {
  clear: both; }
  .clearfix:after {
    clear: both;
    content: "";
    display: table; }

.grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .grid__row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    width: 100%; }
    @media only screen and (min-width: 414px) {
      .grid__row {
        margin: 0 -5px;
        width: calc(100% + $gutter-width); }
        .grid__row:first-child {
          margin-top: -5px; }
        .grid__row:last-child {
          margin-bottom: -5px; } }
    .grid--has-gutter .grid__row {
      margin: 0 -4.1666666667%;
      width: calc(108.333333333%); }
  .grid__unit {
    box-sizing: border-box;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%; }
    @media only screen and (min-width: 414px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px);
        margin: 5px 5px; } }
    @media only screen and (min-width: 600px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(33.3333333333% - 10px);
            flex-basis: calc(33.3333333333% - 10px);
        margin: 5px 5px; } }
    @media only screen and (min-width: 768px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(16.6666666667% - 10px);
            flex-basis: calc(16.6666666667% - 10px);
        margin: 5px 5px; } }
    @media only screen and (min-width: 1024px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(8.3333333333% - 10px);
            flex-basis: calc(8.3333333333% - 10px);
        margin: 5px 5px; } }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-preferred-size: calc(8.3333333333% - 10px);
            flex-basis: calc(8.3333333333% - 10px);
        margin: 5px 5px; } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(33.3333333333% - 10px);
            flex-basis: calc(33.3333333333% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(16.6666666667% - 10px);
            flex-basis: calc(16.6666666667% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(8.3333333333% - 10px);
            flex-basis: calc(8.3333333333% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-1 {
        -ms-flex-preferred-size: calc(8.3333333333% - 10px);
            flex-basis: calc(8.3333333333% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(66.6666666667% - 10px);
            flex-basis: calc(66.6666666667% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(33.3333333333% - 10px);
            flex-basis: calc(33.3333333333% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(16.6666666667% - 10px);
            flex-basis: calc(16.6666666667% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-2 {
        -ms-flex-preferred-size: calc(16.6666666667% - 10px);
            flex-basis: calc(16.6666666667% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(25% - 10px);
            flex-basis: calc(25% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-3 {
        -ms-flex-preferred-size: calc(25% - 10px);
            flex-basis: calc(25% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(66.6666666667% - 10px);
            flex-basis: calc(66.6666666667% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(33.3333333333% - 10px);
            flex-basis: calc(33.3333333333% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-4 {
        -ms-flex-preferred-size: calc(33.3333333333% - 10px);
            flex-basis: calc(33.3333333333% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(83.3333333333% - 10px);
            flex-basis: calc(83.3333333333% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(41.6666666667% - 10px);
            flex-basis: calc(41.6666666667% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-5 {
        -ms-flex-preferred-size: calc(41.6666666667% - 10px);
            flex-basis: calc(41.6666666667% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-6 {
        -ms-flex-preferred-size: calc(50% - 10px);
            flex-basis: calc(50% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(58.3333333333% - 10px);
            flex-basis: calc(58.3333333333% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-7 {
        -ms-flex-preferred-size: calc(58.3333333333% - 10px);
            flex-basis: calc(58.3333333333% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(66.6666666667% - 10px);
            flex-basis: calc(66.6666666667% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-8 {
        -ms-flex-preferred-size: calc(66.6666666667% - 10px);
            flex-basis: calc(66.6666666667% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(75% - 10px);
            flex-basis: calc(75% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-9 {
        -ms-flex-preferred-size: calc(75% - 10px);
            flex-basis: calc(75% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(83.3333333333% - 10px);
            flex-basis: calc(83.3333333333% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-10 {
        -ms-flex-preferred-size: calc(83.3333333333% - 10px);
            flex-basis: calc(83.3333333333% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(91.6666666667% - 10px);
            flex-basis: calc(91.6666666667% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-11 {
        -ms-flex-preferred-size: calc(91.6666666667% - 10px);
            flex-basis: calc(91.6666666667% - 10px); } }
    @media only screen and (min-width: 414px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 600px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 768px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1024px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    @media only screen and (min-width: 1440px) {
      .grid__unit--span-12 {
        -ms-flex-preferred-size: calc(100% - 10px);
            flex-basis: calc(100% - 10px); } }
    .grid--has-gutter .grid__unit {
      margin: 4.1666666667% 0; }
      @media only screen and (min-width: 414px) {
        .grid--has-gutter .grid__unit {
          margin-left: 4.1666666667%;
          margin-right: 4.1666666667%; } }
    .grid__row--halves .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px); }
      .grid--has-gutter .grid__row--halves .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 768px) {
        .grid__row--halves .grid__unit {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px); }
          .grid--has-gutter .grid__row--halves .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
    .grid__row--thirds .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px); }
      .grid--has-gutter .grid__row--thirds .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px); }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--thirds .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 10px);
              flex-basis: calc(33.3333333333% - 10px); }
          .grid--has-gutter .grid__row--thirds .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
    .grid__row--quarters .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px); }
      .grid--has-gutter .grid__row--quarters .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 10px);
              flex-basis: calc(33.3333333333% - 10px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--quarters .grid__unit {
          -ms-flex-preferred-size: calc(25% - 10px);
              flex-basis: calc(25% - 10px); }
          .grid--has-gutter .grid__row--quarters .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
    .grid__row--fifths .grid__unit {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px); }
      .grid--has-gutter .grid__row--fifths .grid__unit {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
      @media only screen and (min-width: 414px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 41.6666666667%;
                flex-basis: 41.6666666667%; } }
      @media only screen and (min-width: 768px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(33.3333333333% - 10px);
              flex-basis: calc(33.3333333333% - 10px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
      @media only screen and (min-width: 1366px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(25% - 10px);
              flex-basis: calc(25% - 10px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 16.6666666667%;
                flex-basis: 16.6666666667%; } }
      @media only screen and (min-width: 1920px) {
        .grid__row--fifths .grid__unit {
          -ms-flex-preferred-size: calc(20% - 10px);
              flex-basis: calc(20% - 10px); }
          .grid--has-gutter .grid__row--fifths .grid__unit {
            -ms-flex-preferred-size: 11.6666666667%;
                flex-basis: 11.6666666667%; } }
    .grid__unit--full-width {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px); }
      .grid--has-gutter .grid__unit--full-width {
        -ms-flex-preferred-size: 91.6666666667%;
            flex-basis: 91.6666666667%; }
    @media only screen and (min-width: 1440px) {
      .grid__unit {
        -ms-flex-positive: 0;
            flex-grow: 0; } }

body {
  background: #fafafa;
  color: #1f1f1f;
  font: 400 16px/1.5 "Droid Sans Mono", monospace; }
  @media only screen and (min-width: 1440px) {
    body {
      font-size: 1.125rem; } }

h2 {
  font-size: 2rem;
  margin: 0.75rem 0 1.5rem;
  width: 100%; }

h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem; }

p {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 0.5rem; }
  p + .grid {
    margin-top: 2rem; }

pre, code {
  border-radius: 5px;
  background: #ded1ff;
  color: #5e23c7;
  font-family: 'Droid Sans Mono';
  font-size: 0.9em;
  padding: 1px 4px; }

.content-wrap {
  margin: 40px auto;
  max-width: 1440px;
  padding: 0 20px; }
  .content-wrap__grid {
    margin-bottom: 60px; }

.grid__unit {
  -ms-flex-align: center;
      align-items: center;
  background: #f0f0f0;
  color: #bcbcbc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 100px;
  text-align: center; }

.grid__row--demo-1 .grid__unit {
  background: #9ec8ff;
  color: #236bc7; }

.grid__row--demo-2 .grid__unit {
  background: #9ec2ff;
  color: #2360c7; }

.grid__row--demo-3 .grid__unit {
  background: #9ebbff;
  color: #2355c7; }

.grid__row--demo-4 .grid__unit {
  background: #9eb5ff;
  color: #234ac7; }

.grid__row--demo-5 .grid__unit {
  background: #9eaeff;
  color: #233fc7; }

.grid__row--demo-6 .grid__unit {
  background: #9ea8ff;
  color: #2335c7; }

.grid__row--demo-7 .grid__unit {
  background: #9ea1ff;
  color: #232ac7; }

.grid__row--demo-8 .grid__unit {
  background: #a09eff;
  color: #2723c7; }

.grid__row--demo-9 .grid__unit {
  background: #a79eff;
  color: #3223c7; }

.grid__row--demo-10 .grid__unit {
  background: #ad9eff;
  color: #3d23c7; }

.grid__row--demo-11 .grid__unit {
  background: #b49eff;
  color: #4823c7; }

.grid__row--demo-12 .grid__unit {
  background: #ba9eff;
  color: #5323c7; }

.grid__row--demo-13 .grid__unit {
  background: #c19eff;
  color: #5e23c7; }

.grid--simple-outline .grid__unit {
  background: transparent;
  border: 1px solid #9ec8ff;
  color: #236bc7; }
  .grid--simple-outline .grid__unit .grid__unit {
    border: 1px solid #236bc7; }
/*# sourceMappingURL=surströmming-demo.css.map */