$grid-height: 100px;

.content-wrap {
  margin: 40px auto;
  max-width: $grid-width;
  padding: 0 20px;

  &__grid {
    margin-bottom: 60px;
  }
}

.grid {
  &__unit {
    @include align-items(center);
    background: #f0f0f0;
    color: #bcbcbc;
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    min-height: $grid-height;
    text-align: center;
  }

  &__row {
    // grid colors gradient
    @for $i from 1 through 13 {
      &--demo-#{$i} {
        .grid__unit {
          $blue: dodgerblue;
          $tint: adjust-hue($blue, $i * 4%);

          background: saturate(lighten($tint, 25%), 100%);
          color: desaturate(darken($tint, 10%), 30%);
        }
      }
    }
  }

  &--simple-outline .grid{
    &__unit {
      background: transparent;
      border: 1px solid $color-light-blue;
      color: $color-blue;

      .grid__unit {
        border: 1px solid $color-blue;
      }
    }
  }
}