//
// SURSTRÖMMING - BEM helpers
//

// simple element and modifier mixins to make deep contextual nesting
// easier to maintain and look at


//elements get appended with "__" and the $name
@mixin e($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}

//modifiers get appended with "--" and the $name
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}