//
// SURSTRÖMMING - Responsive Grid helpers
//

// Grid variables
$grid-width:      1440px !default;      // max width of grid
$grid-columns:    12 !default;          // max number of columns
$gutter:          false !default;       // use gutter?
$gutter-width:    20px !default;        // spacing between grid items
$item-spacing:    true !default;        // vertical grid item spacing
$optional-gutter: 1 !default;           // optional grid-relative gutter


// important breakpoints for the grid
// each value stands for the fraction of columns to be displayed
// at the given breakpoint from _break.scss
$grid-breakpoints: (
  mobile-l:   (1 / ($grid-columns * 0.5)),
  m-between:  (1 / 4),
  tablet:     (1 / 2),
  laptop:     1,
  laptop-l:   1
);


// verbose grid unit sizes for simple and straightforward grid handling
// contains the verbose name for legible classnames and then numerical value
// for functionality
$grid-verbose-sizes: (
  halves: 2,
  thirds: 3,
  quarters: 4,
  fifths: 5
);


// improve readability: fetch the lowest and highest grid breakpoints
$min-grid-breakpoint: nth(nth($grid-breakpoints, 1), 1);
$max-grid-breakpoint: nth(nth($grid-breakpoints, length($grid-breakpoints)), 1);



// Function to calculate column width based on maximum grid columns and
// given number of columns over which the unit spans
@function columns($n, $max: $grid-columns) {
  @return (100% / $max * $n);
}



// mixins to handle styling depending on whether or not the grid is set to
// have a gutter
@mixin has-gutter() {
  @if ($gutter == true) {
    @content;
  }
}
@mixin no-gutter() {
  @if ($gutter == false) {
    @content;
  }
}


// mixin to handle column width depending on grid gutter settings
@mixin column-width($n, $max: $grid-columns) {
  @include has-gutter {
    @include flex-basis(calc(#{columns($n, $max)} - #{$gutter-width}));
  }

  @include no-gutter {
    @include flex-basis(columns($n, $max));
  }
}

// mixin to handle relative column widths for verbose classes ('thirds') with
// special case handling for grid-relative gutter
@mixin verbose-column-width($n) {
  @include column-width($n);

  @at-root .grid--has-gutter & {
    @include flex-basis(columns($n - $optional-gutter))
  }
}