//
// SURSTRÖMMING - Helper Mixins for commonly used, but big stuff
//


// input placeholders made simple
@mixin input-placeholder() {
  &::-moz-placeholder { // Firefox 19+
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    text-indent: 0;
    @content;
  }
}


// mixin to easily add clearfixes to every element
@mixin clearfix() {
  clear: both;

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.clearfix {
  @include clearfix;
}