//
// SURSTRÖMMING - Miscellaneous mixins
//


// shorthand for width and height
@mixin hw($width: false, $height: false) {
  $width: $width;

  @if $height != none {
    $height: $height;
  }

  // both values given
  @elseif $height != false {
    height: $height;
    width: $width;
  }

  // one value counts as square
  @else {
    height: $width;
    width: $width;
  }
}